mixin control-handle
    .control-handle&attributes(attributes)
        .control-handle__arrow
            .control-handle__arrow--left
            .control-handle__arrow--center
            .control-handle__arrow--right
