mixin point-email
    svg(xmlns='http://www.w3.org/2000/svg' width='24' height='18' viewbox='0 0 24 18')
        path(fill='#2EA1E8' fill-rule='evenodd' d='M15.064 9.615l5.037 5.897a1 1 0 1 0 1.52-1.3L16.56 8.287l5.105-4.539a1 1 0 1 0-1.328-1.494L12 9.662l-8.336-7.41a1 1 0 1 0-1.328 1.495L7.389 8.24a1.04 1.04 0 0 0-.008.01l-5.1 6.164a1 1 0 0 0 1.541 1.275l5.063-6.12 2.45 2.18a1 1 0 0 0 1.33 0l2.399-2.133zM22.999 0C23.552 0 24 .445 24 .993v16.014A.997.997 0 0 1 23 18H1c-.552 0-1-.445-1-.993V.993A.997.997 0 0 1 1 0h22z')
