mixin facebook-messenger-icon
    svg(xmlns='http://www.w3.org/2000/svg', width='20', height='20', viewbox='0 0 20 20')
        path(fill='#FFF', fill-rule='nonzero', d='M9.921 0C4.441 0 0 4.144 0 9.257c0 2.908 1.438 5.503 3.686 7.2V20l3.386-1.874c.902.252 1.859.388 2.85.388 5.479 0 9.92-4.145 9.92-9.257C19.843 4.144 15.402 0 9.923 0zm1.045 12.413L8.4 9.753 3.46 12.48l5.417-5.736 2.566 2.66 4.942-2.727-5.418 5.736z')
