mixin facebook-icon
    svg(xmlns='http://www.w3.org/2000/svg', width='6', height='11', viewbox='0 0 11 20')
        path(fill='#FFF', fill-rule='nonzero', d='M6.753 19.992v-9.083h3.049l.456-3.54H6.753v-2.26c0-1.025.285-1.723 1.754-1.723l1.875-.001V.219A25.121 25.121 0 0 0 7.65.079c-2.702 0-4.552 1.65-4.552 4.68v2.61H.04v3.54h3.057v9.083h3.655z')
