include ./facebook-icon
include ./twitter-icon
include ./email-icon

mixin footer(title, subtitle)
    .footer
        .footer__share(data-title=title data-subtitle=subtitle)
            .share.share--facebook
                .icon
                    +facebook-icon()
            .share.share--twitter
                .icon
                    +twitter-icon()
            a.share.share--mail
                .icon
                    +point-email()
            .share__text Share this story with a friend
        a.footer__learn-more(href="https://itunes.apple.com/app/ingage-interactive-presentations/id1100355870?mt=8#" target="_blank") Made with Ingage
