mixin play-button
    svg(xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewbox='0 0 20 20')
        path(fill='#2EA1E8' fill-rule='evenodd' d='M10 20C4.477 20 0 15.523 0 10S4.477 0 10 0s10 4.477 10 10-4.477 10-10 10zm-1.166-6.556l4.332-2.888c.459-.306.46-.805 0-1.112L8.834 6.556C8.375 6.25 8 6.446 8 6.997v6.006c0 .544.374.748.834.44z')

