include ./play-button

mixin poi-slide(point)
    - const { type } = point

    case type
        when 'blurb'
            pre.slide.slide__blurb(data-type=type)= point.properties.text

        when 'image'
            .slide.slide__image(data-type=type)
                img.image(data-image= point.properties.image)
                pre.body= point.properties.text

        when 'video'
            .slide.slide__video(data-type=type)
                .slide__video-container
                    video.video(playsinline controlsList="nodownload" data-video=point.properties.video)
                    .play-button
                        +play-button()
                pre.title= point.properties.title
                pre.body= point.properties.body

        when 'audio'
            .slide.slide__audio(data-type=type)
                .audio-button
                    .pulse
                    .box
                    .triangle
                    .sound-1
                    .sound-2
                    .sound-3
                audio.audio(data-audio=point.properties.audio)

        when 'map'
            .slide.slide__map(data-type=type)
                iframe.map(data-data=point.properties.data)
                a.body(target="_blank")
                    pre.name= point.properties.data.name
                    pre.address= point.properties.data.address
