include ./lazy-image

mixin smart-image(config)
    -
        const wrapper = {}
        const image = {}

        const aspect = config.height / config.width

        if (aspect <= 1) {
            wrapper.style = `padding-top: ${aspect * 100}%`
        } else {
            wrapper.style = `height: 520px; width: 100%;`
            image.style = `height: 100%; width: auto;`
        }

    .image&attributes(wrapper)
        if config.lazy
            +lazy-image(config.src)&attributes(image)
        else
            img(src=config.src alt=config.alt)&attributes(image)
