mixin twitter-icon
    svg(xmlns='http://www.w3.org/2000/svg', width='12.5', height='10', viewbox='0 0 25 20')
        path(fill='#FFF', fill-rule='nonzero', d='M7.74 20C17.03 20 22.11 12.305 22.11 5.632c0-.219 0-.437-.015-.653.988-.715 1.842-1.6 2.52-2.614-.922.408-1.9.676-2.9.794a5.067 5.067 0 0 0 2.22-2.793 10.12 10.12 0 0 1-3.207 1.226 5.055 5.055 0 0 0-8.606 4.606A14.337 14.337 0 0 1 1.713.922a5.054 5.054 0 0 0 1.564 6.74 5.012 5.012 0 0 1-2.292-.631v.064a5.052 5.052 0 0 0 4.05 4.95 5.042 5.042 0 0 1-2.28.087 5.056 5.056 0 0 0 4.719 3.506A10.133 10.133 0 0 1 0 17.732a14.297 14.297 0 0 0 7.74 2.264')
