include ../../ui-components/poi-slide
include ../../ui-components/points/point-audio
include ../../ui-components/points/point-blurb
include ../../ui-components/points/point-image
include ../../ui-components/points/point-map
include ../../ui-components/points/point-website
include ../../ui-components/email-icon
include ../../ui-components/play-button

mixin pointOverlay(points)

    .point-overlay
        if block
            block

        - let slideIndex = 0;
        each point in points
            -
                const pointAttributes = {
                    'data-type': point.type,
                    'style': {
                        'left': point.properties.x,
                        'top': point.properties.y
                    }
                }

            if (point.type === 'website')
                a.point(href=point.properties.url target="_blank")&attributes(pointAttributes)
                    +point-website
            else
                - pointAttributes['data-slide-index'] = slideIndex++
                .point&attributes(pointAttributes)
                    case point.type
                        when 'blurb'
                            +point-blurb()
                        when 'image'
                            +point-image()
                        when 'map'
                            +point-map()
                        when 'email'
                            +point-email()
                        when 'video'
                            +play-button()
                        when 'audio'
                            +point-audio()

        .point-gallery.hidden
            .scrim
            .gallery-button.gallery-button__close
            .gallery__content
                each point in points
                    if (point.type !== 'website')
                        +poi-slide(point)
            .gallery__bottom-bar
                if points.length > 1
                    .gallery-button__previous
                .position
                if points.length > 1
                    .gallery-button__next
