//- @TODO:
//-
//- Include in stub:
//-     name
//-     description

doctype html
html(lang="en")
    head
        //- title stuff
        title
            block title
            | &nbsp;| Ingage

        //- meta
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1, user-scalable=no")

        block head

        //- @TODO: fold css
        //- style

        //- @TODO: favicon
        //-
        //- <link rel="shortcut icon" type="image/x-icon" href="https://ssc-static-prd.s3.amazonaws.com:443/ssc/prod/images/favicon.ico?Signature=5Tu48S%2BK8uUDTZjsxSJQxpKoqSI%3D&amp;Expires=1507246032&amp;AWSAccessKeyId=AKIAJKL2WP4MX32UE6NA"> 
        //- <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="https://ssc-static-prd.s3.amazonaws.com:443/ssc/prod/images/favicon.ico?Signature=5Tu48S%2BK8uUDTZjsxSJQxpKoqSI%3D&amp;Expires=1507246032&amp;AWSAccessKeyId=AKIAJKL2WP4MX32UE6NA"> 
        //- <link rel="apple-touch-icon" href="https://ssc-static-prd.s3.amazonaws.com:443/ssc/prod/images/favicon_57x57.png?Signature=fiv%2Bies8YZvVJ6IfEoHO%2BL67RJQ%3D&amp;Expires=1507246032&amp;AWSAccessKeyId=AKIAJKL2WP4MX32UE6NA"> 
        //- <link rel="apple-touch-icon" sizes="72x72" href="https://ssc-static-prd.s3.amazonaws.com:443/ssc/prod/images/favicon_72x72.png?Signature=hwU5rcqn%2FarmAE75RbVzBdecLTw%3D&amp;Expires=1507246032&amp;AWSAccessKeyId=AKIAJKL2WP4MX32UE6NA"> 
        //- <link rel="apple-touch-icon" sizes="114x114" href="https://ssc-static-prd.s3.amazonaws.com:443/ssc/prod/images/favicon_114x114.png?Signature=G7%2BdPHDgSS341HexDQ6%2F37a7pQ4%3D&amp;Expires=1507246032&amp;AWSAccessKeyId=AKIAJKL2WP4MX32UE6NA"> 
        //- <link rel="apple-touch-icon" sizes="152x152" href="https://ssc-static-prd.s3.amazonaws.com:443/ssc/prod/images/favicon_152x152.png?Signature=Dr%2Fx1UmbvaAUmn7plENcBZDSAT8%3D&amp;Expires=1507246032&amp;AWSAccessKeyId=AKIAJKL2WP4MX32UE6NA"> 

        //- @TODO: opengraph, twitter cards, etc

        //- @TODO: include css for widgets
        //- @TODO: include js for widgets

    body
        .ingage
            block body
