extends index

block title
    | #{ self.stub.properties.title }

block head
    -
        // Convert names to kebab-case
        const kebab = xs => xs
            .split('')
            .reduce(
                (ys, x) =>
                    x.toLowerCase() === x
                        ? ys + x
                        : ys + '-' + x.toLowerCase()
                , ''
            )

        // What platform are we rendering for?
        // (The only valid values right now are mobile and desktop)
        const platform = self.config.mobile ? 'mobile' : 'desktop'

        // Create an array of unique names that are used in this story
        // ie. If the story's section types look like:
        //     ['a', 'a', 'a', 'b']
        //  Then generate an array of:
        //     ['a', 'b']
        const data = self.stub.properties.sections
            .reduce((acc, x) => acc.concat(x.pages), [])
            .map(x => x.template)
            .filter((x, i, xs) => xs.indexOf(x) == i)
            .map(x => x === 'flipbook' ? 'scrollmotion' : x)

    meta(name="description" content=self.stub.properties.title)

    // CSS Files

    // Fonts
    link(rel="stylesheet" href=`/assets/${platform}/css/fonts.css`)

    // Global styles
    link(rel="stylesheet" href=`/assets/${platform}/css/global.css`)

    // Cover styles are loaded on every story
    // @TODO: Load this only if the story has a cover
    link(rel="stylesheet" href=`/assets/${platform}/css/layouts.css`)

    link(rel="stylesheet" href=`/assets/${platform}/css/cover.css`)

    link(rel="stylesheet" href=`/assets/${platform}/css/points.css`)

    link(rel="stylesheet" href=`/assets/${platform}/css/footer.css`)

    // Loop through each type of page in the story and load its CSS file
    each type in data
        link(rel="stylesheet" href=`/assets/${platform}/css/${kebab(type)}.css`)

    // JS Files

    // Environment variables
    include ./scripts/env-config

    // Google Analytics
    include ./scripts/google-analytics
    // End Google Analytics

    // Mixpanel
    include ./scripts/mixpanel
    // end Mixpanel

    // Keen
    include ./scripts/keen
    // end Keen

    // Polyfills
    script(src=`/assets/${platform}/js/polyfills.js` defer)

    // Global JS
    script(src=`/assets/${platform}/js/global.js` defer)

    // Global JS
    script(src=`/assets/${platform}/js/analytics.js` defer)

    // Cover JS is loaded on every story
    // @TODO: Load this only if the story has a cover
    script(src=`/assets/${platform}/js/cover.js` defer)

    // points
    script(src=`/assets/${platform}/js/points.js` defer)

    // footer
    script(src=`/assets/${platform}/js/footer.js` defer)

    // Loop through each type of page in the story and load its JS file
    each type in data
        script(src=`/assets/${platform}/js/${kebab(type)}.js` defer)

block body
    //- Abstract to object named `cover` for the cover module to use
    //- @TODO: Only render cover if the story has one
    - const cover = self.stub.properties.cover
    include ./pages/desktop/cover

    //- Render sections in the story (if they exist)
    each section in self.stub.properties.sections
        .section
            h2.section__title= section.name

            //- Render each page in a section
            //- @TODO: Only do this if the section has at least one page
            each page in section.pages
                .section__page
                    //- Render the page based on which template it uses

                    if page.template == 'textAndImage'
                        if self.config.mobile
                            include ./pages/mobile/text-and-image
                        else
                            include ./pages/desktop/text-and-image
                    else if page.template == 'flipbook'
                        if self.config.mobile
                            include ./pages/mobile/scrollmotion
                        else
                            include ./pages/desktop/scrollmotion
                    else if page.template == 'compare'
                        if self.config.mobile
                            include ./pages/mobile/compare
                        else
                            include ./pages/desktop/compare
                    else if page.template == 'pointsOfInterest'
                        if self.config.mobile
                            include ./pages/mobile/points-of-interest
                        else
                            include ./pages/desktop/points-of-interest
                    else if page.template == 'video'
                        if self.config.mobile
                            include ./pages/mobile/video
                        else
                            include ./pages/desktop/video
                    else if page.template == 'impact'
                        if self.config.mobile
                            include ./pages/mobile/impact
                        else
                            include ./pages/desktop/impact
                    else if page.template == 'email'
                        if self.config.mobile
                            include ./pages/mobile/email
                        else
                            include ./pages/desktop/email
                    else
                        //- Otherwise we haven't implemented this template yet, just render the JSON
                        //- @TODO: Remove this for production
                        //-     (maybe have an "oops" page?)
                        pre
                            | #{ JSON.stringify(page, null, 2) }
    // footer
    include ./ui-components/footer
    +footer(self.stub.properties.title, self.stub.properties.cover.subtitle)
