@import "variables/breakpoints"

.cover
    position relative

    .page__media
        position relative
        margin auto

    .cover__background
    .cover__video
        width 100%
        height 100%

    .cover__text--wrapper
        position absolute

    &--theme-1
        .cover__text--wrapper
            background hsla(0,0%,100%,.85)
            color #4a4a4a

    &--theme-2
        .cover__text--wrapper
            background rgba(0, 0, 0, 0.75)
            color #ffffff

    .cover__text--wrapper
        top 0
        left 0
        width 384px
        height 100%

    .cover__text
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        margin 41px
        font-family BentonSans, Helvetica, sans-serif
        text-shadow 0 0 7px hsla(0,0%,100%,.12)

        .title
            position absolute
            font-size 54px
            font-weight 300
            letter-spacing -.7px
            line-height 1
            width 100%
            top 157px

        .body
            position absolute
            font-size 10.5px
            text-transform uppercase
            line-height 1.57
            letter-spacing 1.5px
            width 100%
            top 0
            padding 0

    &--layout-1
        @media screen and (min-width: $viewport-large)
            .cover__text--wrapper
                width 512px

                .cover__text
                    margin 54px

                    .title
                        top 208px
                        font-size 72px
                        letter-spacing -.9px

                    .body
                        font-size 14px
                        letter-spacing 2px

    &--layout-2
        .cover__text--wrapper
            width 288px

            .cover__text
                margin 27px
                text-align center

                .title
                    top 180px
                    font-weight 700
                    font-size 40.5px
                    line-height 1.19
                    letter-spacing -.5px

                .body
                    top 83px

            @media screen and (min-width: $viewport-large)
                width 384px

                .cover__text
                    margin 36px

                    .title
                        top 240px
                        font-size 54px
                        letter-spacing -.7px

                    .body
                        top 111px
    &--layout-3
    &--layout-4
    &--layout-5
        .cover__text--wrapper
            width 100%

        .cover__text
            text-align center
            margin 0

            .title
                left 0
                right 0
                margin auto

            .body
                left 0
                right 0
                margin auto
                top auto

    &--layout-3
        .cover__text--wrapper
            top 45px
            height 135px

            .title
                top 25px
                font-size: 48px;
                line-height: 1.16;
                letter-spacing: -.5px;

            .body
                bottom 27px

            @media screen and (min-width: $viewport-large)
                top 60px
                height 180px

                .cover__text
                    margin 41px

                    .title
                        top 35px
                        font-size 64px

                    .body
                        bottom 37px

    &--layout-4
        .cover__text--wrapper
            top 360px
            height 135px

            .cover__text
                text-align center
                margin 0

                .title
                    top 24px
                    font-size: 48px;
                    font-weight 700
                    line-height: 1.16;
                    letter-spacing: -0.4px;

                .body
                    bottom 28px

            @media screen and (min-width: $viewport-large)
                top 480px
                height 180px

                .cover__text
                    .title
                        top 32px
                        font-size 64px

                    .body
                        bottom 40px
                        font-size 14px
                        letter-spacing 2px

    &--layout-5
        .cover__text--wrapper
            height 78px
            top calc(50% - 52px)

            .cover__text
                text-align center
                margin 0
                text-transform uppercase

                .title
                    top 19px
                    font-size 18px
                    line-height 1.17
                    letter-spacing 4.5px
                    font-weight 700

                .body
                    bottom 17px
                    line-height 1.29
                    letter-spacing 0.4px

            @media screen and (min-width: $viewport-large)
                height 104px

                .cover__text
                    .title
                        top 25px
                        font-size 24px
                        letter-spacing 6px

                    .body
                        bottom 23px
                        font-size 14px
                        letter-spacing .5px

    &--layout-6
        .cover__text--wrapper
            height 78px
            top 387px
            width 100%

            .cover__text
                text-align left
                text-transform uppercase
                margin 0

            .title
                position absolute
                top 14px
                left 41px
                font-size 27px
                line-height 1.11
                letter-spacing 3px

            .body
                position absolute
                bottom 13px
                left 41px
                top auto
                line-height 1.71
                font-weight 700

            @media screen and (min-width: $viewport-large)
                height 104px
                top 516px

                .cover__text
                    .title
                        top 19px
                        left 54px
                        font-size 36px
                        letter-spacing 4px

                    .body
                        bottom 19px
                        left 54px
                        font-size 14px
                        line-height 1.29
                        letter-spacing .5px

    &--layout-7
        .cover__text--wrapper
            display none
