.footer
    width 100%
    height 96px
    background #fff
    display flex
    align-items center
    justify-content space-between

.footer__share
    display flex
    padding-left 16px

    .share
        width 48px
        height 48px
        display flex
        align-items center
        justify-content center
        cursor pointer

        &:hover
            opacity 0.6

        .icon
            width 24px
            height 24px
            background #2ea1e8
            border-radius 100%
            display flex
            align-items center
            justify-content center

        &--mail
            svg
                width 12px
                height 9px

                path
                    fill #fff

    .share__text
        font-size 12px
        font-family Helvetica, sans-serif
        font-weight bolder
        color #4f4e5c
        padding-top 3px
        padding-left 8px
        display flex
        align-items center
        justify-content center

.footer__learn-more
    font-family Helvetica, sans-serif
    color #2ea1e8
    font-size 12px
    margin-right 40px
    font-weight bolder
