@import "variables/breakpoints"

.page--impact .page__media
    display flex

    .title
    .body
        padding 0

.impact__background
    position absolute
    top 0
    left 0
    width 100%
    height 100%

    .lazy-image
        width 100%
        height 100%

        img
            width 100%
            height 100%
            object-fit cover
            font-family 'object-fit: cover;'

    .video
        object-fit cover
        height 100%
        width 100%

    .lazy-video
        height 100%

        video
            width 100%
            height 100%
            object-fit cover
            font-family 'object-fit: cover;'

.impact__text
    position relative
    background rgba(255, 255, 255, 0.85)

    .title
        text-transform uppercase

.theme-2 .impact__text
    background rgba(0, 0, 0, 0.7) 
    color white

.layout-1
.layout-7
.layout-10
    .impact__text
        width 100%
        height 100%
        display flex
        align-items center
        justify-content center
        flex-direction column

.layout-1 
.layout-10
    .impact__text
        text-align center

        .title
            position absolute
            font-size 10px
            letter-spacing 2px
            top 32px

            @media screen and (min-width: $viewport-large)
                top 48px
                font-size 14px
                letter-spacing 3px

        .body
            width 648px
            font-size 40px
            line-height 1.48

            @media screen and (min-width: $viewport-large)
                width 864px
                font-size 54px

.layout-2.page--impact .page__media
    align-items center
    justify-content center

.layout-2
.layout-3
.layout-4
.layout-5
    .impact__text
        padding 36px
        margin 32px

        @media screen and (min-width: $viewport-large)
            padding 48px
            margin 48px

.layout-2 .impact__text
    width 504px

    @media screen and (min-width: $viewport-large)
        width 672px

    .title
        font-size 10px
        font-weight bold
        letter-spacing 2px

        @media screen and (min-width: $viewport-large)
            font-size 14px
            letter-spacing 3px

    .body
        font-size 20px
        font-weight 300
        letter-spacing -0.2px
        padding-top 8px

        @media screen and (min-width: $viewport-large)
            font-size 28px
            line-height 1.43
            padding-top 11px

.layout-3.page--impact .page__media
    flex-direction column
    justify-content flex-end

.layout-3 .impact__text
    width 564px

    @media screen and (min-width: $viewport-large)
        width 752px

    .title
        font-size 12px
        letter-spacing 1.5px

        @media screen and (min-width: $viewport-large)
            font-size 16px
            letter-spacing 2px
        
    .body
        font-size 20px
        letter-spacing 0.3px
        padding-top 9px

        @media screen and (min-width: $viewport-large)
            font-size 28px
            padding-top 12px

.layout-4.page--impact .page__media
    flex-direction column

.layout-4
.layout-5
    .impact__text
        width 300px

        @media screen and (min-width: $viewport-large)
            width 400px

.layout-4 .impact__text
    .title
        font-size 12px
        font-weight 500
        letter-spacing 1.5

        @media screen and (min-width: $viewport-large)
            font-size 16px
            letter-spacing 2px
    
    .body
        font-size 21px
        font-weight bold
        letter-spacing -0.3px
        padding-top 9px

        @media screen and (min-width: $viewport-large)
            font-size 28px
            padding-top 12px

.layout-5.page--impact .page__media
    flex-direction column
    justify-content flex-end
    align-items flex-end

.layout-5 .impact__text
    .body
        font-size 16px
        letter-spacing -0.3px
        line-height 1.45
        padding-top 9px

        @media screen and (min-width: $viewport-large)
            font-size 22px

.layout-5
.layout-6
    .impact__text .title
        font-size 10px
        letter-spacing 2.3px
        font-weight bold

        @media screen and (min-width: $viewport-large)
            font-size 14px
            letter-spacing 3px

.layout-6 .impact__text
    width 384px
    padding 48px

    @media screen and (min-width: $viewport-large)
        width: 512px
        padding 64px

    .body
        font-size 25px
        line-height 1.41
        letter-spacing -0.2px
        padding-top 76px

        @media screen and (min-width: $viewport-large)
            font-size 34px
            padding-top 102px

.layout-7 .impact__text
    padding 60px

    @media screen and (min-width: $viewport-large)
        padding 80px

    .title
        width 100%
        font-size 12px
        line-height 1.5
        letter-spacing 1.5px

        @media screen and (min-width: $viewport-large)
            font-size 16px
            letter-spacing 3px
        
    .body
        font-size 33px
        line-height 1.45
        font-weight bold
        padding-top 8px

        @media screen and (min-width: $viewport-large)
            font-size 33px
            padding-top 11px

.layout-8.page--impact .page__media
    align-items center

.layout-8 .impact__text
    .title
        font-size 12px
        letter-spacing 1.5px

        @media screen and (min-width: $viewport-large)
            font-size 16px
            letter-spacing 2px

    .body
        font-weight bold

.layout-8
.layout-9
    .impact__text
        padding 34px 48px

        @media screen and (min-width: $viewport-large)
            padding 46px 64px

        .body
            font-size 25px
            line-height 1.41
            padding-top 11px

            @media screen and (min-width: $viewport-large)
                font-size 34px
                padding-top 14px
        
.layout-9.page--impact .page__media
    align-items flex-start

.layout-9 .impact__text
    .title
        font-size 10px
        font-weight bold
        letter-spacing 2.3px

        @media screen and (min-width: $viewport-large)
            font-size 14px
            letter-spacing 3px

.layout-10 .impact__text
    .body
        font-weight bold
