@import "variables/breakpoints"

.page
    padding-top 72px

    &.layout-full
    &.layout-horizontal
    &.layout-horizontal-tall
        padding-top 0

.layout-full .page__media
    width 768px
    height 575px

    @media screen and (min-width: $viewport-medium)
        width 832px
        height 624px

    @media screen and (min-width: $viewport-large)
        width 1112px
        height 834px

.layout-horizontal .page__media
    width 768px
    height 384px

    @media screen and (min-width: $viewport-medium)
        width 832px
        height 417px

    @media screen and (min-width: $viewport-large)
        width 1112px
        height 557px

.layout-horizontal-tall .page__media
    width 768px
    height 432px

    @media screen and (min-width: $viewport-medium)
        width 832px
        height 468px

    @media screen and (min-width: $viewport-large)
        width 1112px
        height 625px

.layout-vertical-halves .page__media
    width 416px
    height 624px

    @media screen and (min-width: $viewport-large)
        width 556px
        height 834px

.layout-vertical-halves .page__content
    max-width 416px

    @media screen and (min-width: $viewport-large)
        max-width 556px
    
.layout-vertical-thirds .page__media
    width 520px
    height 624px

    @media screen and (min-width: $viewport-large)
        width 695px
        height 834px

.layout-vertical-thirds .page__content
    max-width 520px

    @media screen and (min-width: $viewport-large)
        max-width 695px

.layout-square .page__media
    width 624px
    height 624px

    @media screen and (min-width: $viewport-large)
        width 834px
        height 834px
