@import "variables/breakpoints"

.point-overlay
    width 100%
    height 100%
    position relative
    overflow hidden

.point-overlay .point
    position absolute
    display flex
    align-items center
    justify-content center
    width 44px
    height 44px
    transform translate3d(-50%, -50%, 0)
    background rgba(255, 255, 255, 0.95)
    border-radius 100%
    cursor pointer

    &:before
        content ''
        position absolute
        top -2px
        left -2px
        border-radius 100%
        width 48px
        height 48px
        border 4px solid rgba(204, 204, 204, 0.5)
        animation pulsate 4s ease-in infinite

    &--inactive
        &:before
            visibility hidden

a.point:hover
    opacity 1

.point-gallery
    position fixed
    display flex
    flex-direction column
    align-items center
    width 100vw
    height 100vh
    top 0
    left 0
    text-align center
    color #fff
    z-index 2
    overflow auto

    .position
    .slide
        z-index 10

    .position
        font-size 12px
        font-weight 500
        flex-shrink 0
        height 64px
        display flex
        align-items center
        justify-content center

    .gallery-button
        position absolute
        display flex
        align-items center
        justify-content center
        width 44px
        height 44px
        border-radius 100%
        background rgba(51, 51, 51, 0.8)
        z-index 15
        cursor pointer

        &__close
            position absolute
            top 10px
            right 10px

            &:before
            &:after
                content ''
                width 45%
                height 2px
                background #efefef
                border-radius 4px

            &:before
                transform translateX(50%) rotate(45deg)

            &:after
                transform translateX(-50%) rotate(-45deg)

        &__next
        &__previous
            top 50%

            &:before
            &:after
                content ''
                background #efefef
                width 2px
                height 12px
                border-radius 5px

            &:before
                transform translate3d(2px, 4px, 0) rotate(45deg)
                border-top-right-radius 0
                border-top-left-radius 0

            &:after
                transform translateY(-3px) rotate(-45deg)
                border-bottom-right-radius 0
                border-bottom-left-radius 0

        &__previous 
            left 10px
            transform translateY(-50%) scale(-1)

        &__next
            right 10px
            transform translateY(-50%);

.gallery__content
    width 100%
    height 100%

.slide__blurb
    width 592px
    font-size 28px
    font-weight bold
    line-height 1.43
    letter-spacing -0.2px
    word-break break-all
    position absolute
    top 50%
    left 50%
    transform translate3d(-50%, -50%, 0)


.slide__image .image
.slide__video .video
        width auto
        height auto
        max-width 768px
        max-height 624px
        
        @media screen and (min-width: $viewport-medium)
            max-width 896px

        @media screen and (min-width: $viewport-large) and (min-height: $viewport-large-height)
            max-width 1112px
            max-height 834px

.slide__image
.slide__video
    position relative

    .body
        width 608px
        font-size 14px
        font-weight 500
        line-height 1.71
        letter-spacing -0.1px
        margin 0 auto
        padding-top 16px

.slide__video-container
    position relative

    .play-button
        width 64px
        height 64px
        position absolute
        left 50%
        top 50%
        transform translate3d(-50%, -50%, 0)
        border-radius 100%
        background black
        cursor pointer

        svg
            width 64px
            height 64px

            path
                fill #d8d8d8

        &:before
            content ''
            position absolute
            top -2px
            left -2px
            border-radius 100%
            width 68px
            height 68px
            border 4px solid rgba(204, 204, 204, 0.5)
            animation pulsate 4s ease-in infinite

.slide__video .title
    width 375px
    font-size 30px
    font-weight bold
    line-height 1.3
    letter-spacing -0.2px
    margin 0 auto

$scale = 1

.slide.slide__audio
    position absolute
    top 50%
    left 50%
    transform translate3d(-50%, -50%, 0)

.slide__audio .audio-button
    width 56px * $scale
    height 56px * $scale
    background-color rgba(255, 255, 255, 0.95)
    border-radius 100%
    display flex
    align-items center
    justify-content center
    border solid 1px * $scale rgba(0, 0, 0, 0.1);
    cursor pointer
    position relative
  
    .box
        width 7px * $scale
        height 7px * $scale
        background #2ea1e8
        transform translateX(3px * $scale)

    .triangle
        height 0
        width 0
        border-top 8px * $scale solid transparent
        border-bottom 8px * $scale solid transparent
        border-right 8px * $scale solid #2ea1e8
        transform translateX(-3px * $scale)

    .sound-1
    .sound-2
    .sound-3
        background #2ea1e8
        border-radius 5px * $scale
        width 2px * $scale
        margin 1px * $scale
        transform translateX(-2px * $scale)

    .sound-1
        height 12px * $scale

    .sound-2
        height 17px * $scale

    .sound-3
        height 22px * $scale

    .pulse
        content ''
        position absolute
        top -3px
        left -3px
        border-radius 100%
        width 60px
        height 60px
        border 4px solid rgba(204, 204, 204, 0.5)
        animation pulsate 4s ease-in infinite

    &--playing
        .pulse
        .box
        .triangle
        .sound-3
            display none

        .sound-1
        .sound-2
            transform translateX(0)
            width 3px * $scale
            height 16px * $scale
            margin 2px * $scale

.slide__map
    position relative

    .map
        width 100%
        max-width 896px
        height 595px
        margin 0 auto

        @media screen and (min-width: $viewport-large) and (min-height: $viewport-large-height)
            max-width 1112px
            height 738px

    .body
        display block
        cursor pointer
        width 223px
        padding-top 48px
        margin 0 auto
        text-decoration none
        color inherit

@keyframes pulsate
    0%
        opacity 0
    80%
        transform scale(1)
        opacity 1
    100%
        transform scale(1.9)
        opacity 0

