$controls-height = 46px
$controls-padding = 18px
$controls-bottom-margin = 12px

$track-width = 399px
$track-background = rgba(#CCC, 40%)
$track-border = 1px solid rgba(#4A4A4A, 20%)
$track-border-radius = 40px

$progress-remaining-color = rgba(74, 74, 74, 0.3)
$progress-bar-color = rgba(74, 74, 74, 0.8)

$scrollmotion-sentinel-distance = 200vh

.scrollmotion__images
    position relative
    width 100%
    height 100%

    .sentinel--before
        position absolute
        top (-1 * $scrollmotion-sentinel-distance)
        left 0
        width 1px
        height @width

    .sentinel--before
        position absolute
        bottom (-1 * $scrollmotion-sentinel-distance)
        left 0
        width 1px
        height @width

.scrollmotion__frame
    position absolute
    display block
    top 0
    left 0
    visibility hidden

    width 100%
    height 100%

    img
        width 100%
        height 100%

    &--active
        visibility visible

.scrollmotion__controls
    position absolute
    left 0
    bottom 0
    width 100%
    height $controls-height
    padding 0 $controls-padding
    margin-bottom $controls-bottom-margin

.scrollmotion__track
    height 100%
    margin 0 auto
    padding 0 22px
    max-width $track-width
    background $track-background
    border $track-border
    border-radius $track-border-radius

.scrollmotion__range
    width 100%
    height 100%

.scrollmotion__slider
    position relative
    width 100%
    height 100%

.scrollmotion__handle
    position absolute
    top 0
    left -22px
    width 44px
    height 44px

.scrollmotion__progress
    display none
    position absolute
    top 0
    left 0
    width 100%
    height 100%

.progress-indicator
    width 100%
    height 100%
    display flex
    align-items center
    justify-content center

.progress-indicator__dial
    transform rotate(-90deg)
    overflow visible

.progress-indicator__remainder
    stroke $progress-remaining-color

.progress-indicator__progress
    stroke $progress-bar-color
    transition stroke-dashoffset 0.75s linear

.page--scrollmotion .page__media--loading
    .scrollmotion__images,
    .scrollmotion__controls
        opacity 0.4

    .scrollmotion__progress
        display block
