$video-sentinel-distance = 200vh

.lazy-video
    position relative

    .sentinel--before
        position absolute
        top (-1 * $video-sentinel-distance)
        left 0
        width 1px
        height @width

    .sentinel--after
        position absolute
        bottom (-1 * $video-sentinel-distance)
        left 0
        width 1px
        height @width
