$image-sentinel-distance = 75vh

.lazy-image
    position relative

    .sentinel--before
        position absolute
        top (-1 * $image-sentinel-distance)
        left 0
        width 1px
        height @width

    .sentinel--after
        position absolute
        bottom (-1 * $image-sentinel-distance)
        left 0
        width 1px
        height @width
