//- `page` is the local variable for this page
include ../../mixins/page
include ../../ui-components/lazy-image
include ../../ui-components/control-handle

-
    // page configuration data
    const data = {
        name: 'compare',
        page
    };

    let growthDirection;
    let translateDirection;

    if (page.properties.slideDirection === 'horizontal') {
        growthDirection = 'width';
        translateDirection = 'translateX';
    }

    else {
        growthDirection = 'height';
        translateDirection = 'translateY';
    }

+page(data)
    .page__media(class=`page__media--${page.properties.slideDirection}`)
        .sentinel--before
        .sentinel--after
        .compare__background-image
            .compare__image(data-lazy-src=page.properties.compare[1])

        .compare__overlay-image(style=`${growthDirection}: ${page.properties.slidePosition * 100}%;`)
            .compare__image(data-lazy-src=page.properties.compare[0])

        .compare__slider(style=`transform: ${translateDirection}(${page.properties.slidePosition * 100}%);`)
            .compare__handle
                .compare__line
                .compare__arrow
                    +control-handle

    //- only render text on layouts with text
    if page.properties.layout !== 'full'
        .page__content
            pre.title.text-small.text-bold.text-center= page.properties.title
            pre.body.text-smaller.text-light.text-center= page.properties.body
