//- `page` is the local variable for this page
include ../../mixins/page
include ../../ui-components/lazy-image

-
    const data = {
        name: 'email',
        page
    }

    const subscribeUrl = page.properties.service.subscribe_url_long
    const enabled = !!subscribeUrl

+page(data)(class=`layout-full ${!enabled ? 'page--disabled' : ''}`)
    .page__media
        +lazy-image(page.properties.background)

    .page__content
        .page__text
            pre.title.text-large.text-light.text-center= page.properties.title
            pre.body.text-medium.text-light.text-center= page.properties.body

            form.email__form(action=`${subscribeUrl.replace(/\?/, '/post?')}` target="_blank" method="post")
                input.input(type="text" aria-label="First Name" name="FNAME" placeholder="First Name*" disabled=!enabled required)
                input.input(type="text" aria-label="Last Name" name="LNAME" placeholder="Last Name*" disabled=!enabled required)
                input.input(type="email" aria-label="Email Address" name="EMAIL" placeholder="Email address*" disabled=!enabled required)

                button.submit(type="submit" disabled=!enabled)= page.properties.button

            if !enabled
                .email__notification-text This feature has not been configured.
