//- `page` is the local variable for this page
include ../../mixins/page
include ../../mixins/mobile/point-overlay
include ../../ui-components/lazy-image

-
    const data = {
        name: 'points-of-interest',
        page
    }

+page(data)
    .page__media
        +pointOverlay(page.properties.points)
            .points-of-interest__image
                +lazy-image(page.properties.background)


    //- only render text on layouts with text
    if page.properties.layout !== 'full'
        .page__content
            pre.title.text-small.text-bold.text-center= page.properties.title
            pre.body.text-smaller.text-light.text-center= page.properties.body
