//- `page` is the local variable for this page
include ../../mixins/page
include ../../ui-components/lazy-image
include ../../ui-components/control-handle

-
    const data = {
        name: 'scrollmotion',
        page
    };

    const radius = 64;
    const strokeWidth = 12;
    const progress = 0;
    const circumference = Math.PI * (radius * 2);
    const strokeDashoffset = (100 - progress) / 100 * circumference;

+page(data)
    .page__media.page__media--loading
        .scrollmotion__images(data-url=page.properties.images)
            .sentinel--before
            .sentinel--after

        .scrollmotion__controls
            .scrollmotion__track
                .scrollmotion__range
                    .scrollmotion__slider
                        .scrollmotion__handle
                            +control-handle

        .scrollmotion__progress
            .progress-indicator
                svg.progress-indicator__dial(
                    xmlns="http://www.w3.org/2000/svg"
                    height=radius * 2 + strokeWidth
                    width=radius * 2 + strokeWidth
                    viewBox=`0 0 ${radius * 2 + strokeWidth} ${radius * 2 +  strokeWidth}`
                )
                    circle.progress-indicator__remainder(
                        r=radius
                        cx=radius + strokeWidth / 2
                        cy=radius + strokeWidth / 2
                        fill="transparent"
                        stroke-width=strokeWidth
                        stroke-dasharray=circumference
                        stroke-dashoffset="0"
                    )
                    circle.progress-indicator__progress(
                        r=radius
                        cx=radius + strokeWidth / 2
                        cy=radius + strokeWidth / 2
                        fill="transparent"
                        stroke-width=strokeWidth
                        stroke-dasharray=circumference
                        stroke-dashoffset=strokeDashoffset
                    )

    //- only render text on layouts with text
    if page.properties.layout !== 'full'
        .page__content
            pre.scrollmotion__title.title.text-small.text-bold.text-center= page.properties.title
            pre.scrollmotion__body.body.text-smaller.text-light.text-center= page.properties.body
