//- `page` is the local variable for this page
include ../../mixins/page
include ../../ui-components/lazy-video

-
    const data = {
        name: 'video',
        page
    }

+page(data)(class="layout-horizontal-tall")
    .page__media
        .video 
            +lazy-video(page.properties.video)(onerror="this.src = ''" controlsList="nodownload")
            .video__play-button

    .page__content
        .page__text
            pre.title.text-small.text-bold.text-center= page.properties.title
            pre.body.text-smaller.text-light.text-center= page.properties.body
