//- `cover` is the local variable for this module
include ../../ui-components/lazy-image

-
    let type = 'unknown'

    if (cover._meta.type.includes('image')) {
        type = 'image'
    }

    else if (cover._meta.type.includes('video')) {
        type = 'video'
    }

.cover.layout-full(class=`cover--${type} cover--layout-${cover.layout} cover--theme-${cover.theme}`)
    .page__media
        .cover__background
            if type === 'image'
                +lazy-image(cover.background)
            else if cover._meta.type.includes('video')
                video.cover__video(src=cover.background onerror="this.src = ''" controlsList="nodownload" autoplay loop muted)
        .cover__text--wrapper
            .cover__text
                pre.title= cover.title
                pre.body= cover.subtitle

