//- `page` is the local variable for this page
include ../../mixins/page
include ../../ui-components/lazy-image
include ../../ui-components/lazy-video

-
    const data = {
        name: 'impact',
        page
    }

    let type = 'unknown'

    if (page._meta.type.includes('image')) {
        type = 'image'
    }

    else if (page._meta.type.includes('video')) {
        type = 'video'
    }

+page(data)(class=`layout-full impact--${type}`)
    .page__media
        .impact__background
            if type === 'image'
                +lazy-image(page.properties.background)
            else if type === 'video'
                +lazy-video(page.properties.background)(loop muted autoplay playsinline)

        //- only render text on layouts with text
        if page.properties.layout !== 11
            .impact__text
                pre.title= page.properties.title
                pre.body= page.properties.body
