//- `page` is the local variable for this page
include ../../mixins/page
include ../../ui-components/lazy-image

-
    // page configuration data
    const data = {
        name: 'text-and-image',
        page
    }

+page(data)
    .page__media
        +lazy-image(page.properties.image)

    //- only render text on layouts with text
    if page.properties.layout !== 'full'
        .page__content
            pre.title.text-medium.text-bold.text-center= page.properties.title
            pre.body.text-medium.text-light.text-center= page.properties.body
