$handle-width = 60px
$handle-height = $handle-width
$bar-width = 1px
$bar-height = $bar-width
$compare-line-background = rgba(204, 204, 204, 0.9)

.page--compare .page__media
    position relative
    -webkit-user-select none
    user-select none
    overflow hidden

    .compare__background-image img
        display block
        width 100%
        height auto
        pointer-events none
        position absolute
        top 0
        left 0

    .compare__handle
        touch-action none
        animation scale-full 0.15s linear forwards

    &--horizontal
        .compare__overlay-image
            position absolute
            top 0
            left 0
            height 100%
            will-change width
            overflow hidden

        .compare__overlay-image img
            display block
            width auto
            height 100%

        .compare__slider
            position absolute
            top 0
            left -100%
            width 100%
            height 100%
            will-change transform

        .compare__handle
            position absolute
            top 0
            right -($handle-width / 2)
            height 100%
            width $handle-width
            cursor pointer

        .compare__line
            position absolute
            top 50%
            left 50%
            transform translate(-50%, -50%)
            width $bar-width
            height 100%
            background $compare-line-background

        .compare__arrow
            position absolute
            top 50%
            left 50%
            transform translate(-50%, -50%)

    &--vertical
        .compare__overlay-image
            position absolute
            top 0
            left 0
            width 100%
            will-change height
            overflow hidden

        .compare__overlay-image img
            display block
            width 100%
            height auto

        .compare__slider
            position absolute
            top -100%
            left 0
            width 100%
            height 100%
            will-change transform

        .compare__handle
            position absolute
            left 0
            bottom -($handle-height / 2)
            height $handle-height
            width 100%
            cursor pointer

        .compare__line
            position absolute
            top 50%
            left 50%
            transform translate(-50%, -50%)
            width 100%
            height $bar-height
            background $compare-line-background

        .compare__arrow
            position absolute
            top 50%
            left 50%
            transform translate(-50%, -50%) rotate(90deg)

    &--dragging
        .compare__handle
            animation scale-out 0.15s linear forwards

    &--bounce
        .compare__overlay-image
            transition:
                width 0.15s cubic-bezier(0.67, 0.83, 0.42, 1.64),
                height 0.15s cubic-bezier(0.67, 0.83, 0.42, 1.64)

        .compare__slider
            transition transform 0.15s cubic-bezier(0.67, 0.83, 0.42, 1.64)

@keyframes scale-full
    from
        transform scale(0)
    to
        transform scale(1)

@keyframes scale-out
    0%
        transform scale(1)

    15%
        transform scale(1.25)

    100%
        transform scale(0)
