.cover
    position relative

    .page__media
        position relative
        margin auto
        padding-bottom 310px

    .cover__video
        width 100%
        height 100%
        object-fit cover

    .cover__background
        position absolute
        width 100%
        height 310px
        bottom 0

    &--theme-1
        .cover__text--wrapper
            background-color #ededeb
            color #4a4a4a

    &--theme-2
        .cover__text--wrapper
            background-color #4a4a4a
            color #ffffff

    .cover__text--wrapper
        width 100%
        height 100%

    .cover__text
        font-family BentonSans, Helvetica, sans-serif
        text-shadow 0 0 7px hsla(0,0%,100%,.12)

        h1.title
            position relative
            font-size 54px
            line-height 1
            letter-spacing -.7px
            padding 22px 30px 40px 16px

        p.body
            position relative
            font-size 10.5px
            line-height 1.57
            letter-spacing 1.5px
            padding 40px 164px 0 16px

    &--layout-1
    &--layout-2
        .cover__text
            display flex
            flex-direction column
            position relative

            h1.title
                -webkit-box-ordinal-group 3
                order 2

            p.body
                order 1

    &--layout-2
        .cover__text
            text-align center

            h1.title
                font-size 40.5px
                line-height 1.19
                letter-spacing -.5px
                padding 22px 22px 40px

            p.body
                padding 40px 90px 0
                text-transform uppercase

    &--layout-3
        .cover__text
            text-align center

            h1.title
                font-size 48px
                line-height 1.17
                letter-spacing -.4px
                padding 40px 22px 0 24px
                font-weight 300

            p.body
                padding 11px 89px 40px 91px
                text-transform uppercase

    &--layout-4
        .page__media
            padding-top 310px
            padding-bottom 0

        .cover__background
            top 0
            bottom auto

        .cover__text
            text-align center

            h1.title
                font-size 48px
                line-height 1.17
                letter-spacing -0.4px
                padding 40px 22px 0 24px

            p.body
                padding 11px 89px 40px 91px
                text-transform uppercase

    &--layout-5
    &--layout-6
        &.cover--theme-1
            .cover__text--wrapper
                background hsla(0,0%,100%,.85)

        &.cover--theme-2
            .cover__text--wrapper
                background rgba(0, 0, 0, 0.75)

        .page__media
            height 310px
            padding 0

    &--layout-5
        .cover__text--wrapper
            position absolute
            height 78px
            top calc(50% - 39px)

            .cover__text
                text-align center
                height 100%
                text-transform uppercase

                h1.title
                    font-size 18px
                    line-height 1.17
                    letter-spacing 4.5px
                    padding 16px 16px 0

                p.body
                    line-height 1.29
                    letter-spacing 0.4px
                    padding 7px 16px 20px

    &--layout-6
        .cover__text--wrapper
            position absolute
            bottom 40px
            width 100%
            height auto

            .cover__text
                text-align left
                margin 0

            h1.title
                font-size 27px
                line-height 1.11
                letter-spacing 3px
                font-weight 300
                text-transform uppercase
                padding 15px 16px 0

            p.body
                line-height 1.71
                padding 2px 16px 13px

    &--layout-7
        .cover__text--wrapper
            display none
