.page--email
    .page__media
        .email__image
            width 100%
            height 100%

    .page__content
        padding 20px 8px 56px
        width 100%
        max-width 662px

.page--email
    .page__text
        h3.title
            padding 0
            line-height 1.12
            text-align left

        p.body
            font-size 22px
            padding 0
            padding-top 10px
            line-height 1.33
            text-align left

.email__form
    padding 0
    padding-top 4px
    font-family BentonSans, Helvetica, sans-serif

    input.input
        display block
        padding 14px 21px
        border 1px solid #fff
        border-radius 4px
        width 100%
        margin-top 16px
        background-color #eee
        font-size 16px
        font-weight 300
        caret-color #2ea1e8
        outline 0

        &:focus
            border 1px solid #2ea1e8

        &::-moz-placeholder
            color #ccc

        &::-webkit-placeholder
            color #ccc

        &::-ms-placeholder
            color #ccc

        &::placeholder
            color #ccc

    button.submit
        display block
        font-size 14px
        padding 12px
        width 100%
        background-color #2ea1e8
        color #fafaf7
        font-weight bold
        border none
        margin-top 32px
        margin-left auto
        margin-right auto
        cursor pointer
        border-radius 2px

        &[disabled]
            background-color #ccc
            color #e0e0e0
            cursor default

.email__notification-text
    font-size 17px
    font-weight 700
    letter-spacing -.2px
    padding-top 12px
