/* Regular */
@font-face
    font-family BentonSans
    src url('../fonts/BentonSans/BentonSans-Regular.otf')

/* Bold */
@font-face
    font-family BentonSans
    src url('../fonts/BentonSans/BentonSans-Bold.otf')
    font-weight bold

/* Light */
@font-face
    font-family BentonSans
    src url('../fonts/BentonSans/BentonSans-Light.otf')
    font-weight 300

/* Medium */
@font-face
    font-family BentonSans
    src url('../fonts/BentonSans/BentonSans-Medium.otf')
    font-weight 500
