*
*:before
*:after
    box-sizing border-box

html
body
    margin 0
    padding 0
    width 100%
    height 100%
    font-family Helvetica, Helvetica Neue, Arial, sans-serif
    line-height 1.5
    background #f2f2f2
    -webkit-font-smoothing antialiased
    font-smoothing antialiased

body.disable-scroll
    overflow hidden

p
pre
h1
h2
h3
h4
h5
h6
    margin 0

img
    width 100%
    height 100%

a
    cursor pointer
    text-decoration none

    &:hover
        opacity 0.6

pre
    font-family BentonSans, Helvetica, sans-serif
    word-wrap break-word
    white-space pre-wrap

.ingage
    color #4a4a4a
    overflow-x hidden

.section__title
    display flex
    align-items center
    justify-content center
    height 144px
    width 100%
    text-transform uppercase
    font-weight 300
    letter-spacing 1px
    margin 0 auto
    text-align center

.section__page
    width 100%
    margin 0 auto
    background white

    &:not(:first-child)
      margin-top 10px

.page
    position relative

.page__media
    position relative
    background grey

.page__content
    padding 19px 19px 32px

.image
.video
    position relative
    margin 0 auto
    width 100%

    img
    video
        background #eee

.image img
.video video
    position absolute
    top 50%
    left 50%
    width 100%
    height 100%
    border none
    outline none
    transform translate(-50%, -50%)

.text-large
    font-size 38px

.text-medium
    font-size 26px

.text-small
    font-size 21px

.text-smaller
    font-size 19px

.text-x-small
    font-size 10px

.text-bold
    font-weight bold

.text-light
    font-weight 300

.text-center
    text-align center

.body
    padding-top 8px

.hidden
    display none
    visibility hidden
    opacity 0
    pointer-events none

.scrim
    position fixed
    width 100vw
    height 100vh
    top 0
    left 0
    background rgba(0, 0, 0, 0.9)
    z-index 5

.disable-user-select
    -webkit-user-select none
    user-select none

@require 'partials/lazy-video'
@require 'partials/control-handle'
