.impact__background
    width 100%
    height 100%
    position absolute
    top 0
    left 0

    .lazy-video
        width 100%
        height 100%

        video
            object-fit cover
            width 100%
            height 100%

    img
        width 100%
        height 100%
        object-fit cover

.impact__content
    background #fff
    padding 33px 16px 64px

    .title
        font-size 14px
        text-transform uppercase
        letter-spacing 2px

    .body
        font-size 22px
        line-height 1.45
        padding-top 9px

.page--impact.theme-2 .impact__content
    background #4a4a4a
    color #fff

.layout-1
.layout-10
    .impact__content
        text-align center
        .title
            letter-spacing 3.5px

        .body
            font-size 32px
            font-weight 300
            letter-spacing 0px
            padding-top 17px

.layout-2
    .impact__content
        .body
            font-weight 300

.layout-5
.layout-6
.layout-8
.layout-9
    .impact__content
        .title
            font-weight bold

.layout-3
.layout-4
.layout-7
.layout-8
.layout-10
    .impact__content
        .body
            font-weight bold
