.layout-full .page__media
    padding-bottom 75%

.layout-horizontal .page__media
    padding-bottom 50%

.layout-horizontal-tall .page__media
    padding-bottom 56%

.layout-vertical-halves .page__media
    padding-bottom 150%

.layout-vertical-thirds .page__media
    padding-bottom 120%

.layout-square .page__media
    padding-bottom 100%
