.point-overlay
    width 100%
    height 100%
    position absolute
    overflow hidden

.point-overlay .point
    position absolute
    display flex
    align-items center
    justify-content center
    width 44px
    height 44px
    transform translate3d(-50%, -50%, 0)
    background rgba(255, 255, 255, 0.95)
    border-radius 100%
    cursor pointer

    &:before
        content ''
        position absolute
        top -2px
        left -2px
        border-radius 100%
        width 48px
        height 48px
        border 4px solid rgba(204, 204, 204, 0.5)
        animation pulsate 4s ease-in infinite

    &--inactive
        &:before
            visibility hidden

a.point:hover
    opacity 1

.point-gallery
    position fixed
    display flex
    width 100vw
    height calc(100vh + 2px)
    top 0
    left 0
    text-align center
    color #fff
    z-index 2
    overflow hidden

    .scrim
        background #000

    .position
    .slide
        z-index 10

    .position
        font-size 12px
        font-weight 500
        height 64px
        display flex
        align-items center
        justify-content center

    .gallery-button
        position fixed
        display flex
        align-items center
        justify-content center
        width 44px
        height 44px
        border-radius 100%
        background rgba(51, 51, 51, 0.8)
        z-index 15
        cursor pointer

        &__close
            top 10px
            right 10px

            &:before
            &:after
                content ''
                width 45%
                height 2px
                background #efefef
                border-radius 4px

            &:before
                transform translateX(50%) rotate(45deg)

            &:after
                transform translateX(-50%) rotate(-45deg)

.gallery__content
    height 100%
    display flex
    z-index 10
    margin-top 64px

    &--scrolling
        transition transform ease-out .3s

.slide
    width 100vw
    height calc(100% - 104px)
    overflow-y auto

.slide__blurb
    font-size 28px
    font-weight bold
    line-height 1.43
    letter-spacing -0.2px
    word-break break-all
    padding 16px
    display flex
    align-items center
    justify-content center


.slide__image .image
.slide__video .video
        width auto
        height auto
        max-width 100%
        max-height 498px
        
.slide__image
.slide__video
    position relative

    .body
        width 100%
        font-size 14px
        font-weight 500
        line-height 1.71
        letter-spacing -0.1px
        margin 0 auto
        padding 16px
        padding-bottom 80px

.slide__video-container
    position relative

    .play-button
        width 64px
        height 64px
        position absolute
        left 50%
        top 50%
        transform translate3d(-50%, -50%, 0)
        border-radius 100%
        background black
        cursor pointer

        svg
            width 64px
            height 64px

            path
                fill #d8d8d8

        &:before
            content ''
            position absolute
            top -2px
            left -2px
            border-radius 100%
            width 68px
            height 68px
            border 4px solid rgba(204, 204, 204, 0.5)
            animation pulsate 4s ease-in infinite

.slide__video .title
    width 100%
    font-size 30px
    font-weight bold
    line-height 1.3
    letter-spacing -0.2px
    margin 0 auto

$scale = 1

.slide.slide__audio
    display flex
    align-items center
    justify-content center

.slide__audio .audio-button
    width 56px * $scale
    height 56px * $scale
    background-color rgba(255, 255, 255, 0.95)
    border-radius 100%
    display flex
    align-items center
    justify-content center
    border solid 1px * $scale rgba(0, 0, 0, 0.1);
    cursor pointer
    position relative
  
    .box
        width 7px * $scale
        height 7px * $scale
        background #2ea1e8
        transform translateX(3px * $scale)

    .triangle
        height 0
        width 0
        border-top 8px * $scale solid transparent
        border-bottom 8px * $scale solid transparent
        border-right 8px * $scale solid #2ea1e8
        transform translateX(-3px * $scale)

    .sound-1
    .sound-2
    .sound-3
        background #2ea1e8
        border-radius 5px * $scale
        width 2px * $scale
        margin 1px * $scale
        transform translateX(-2px * $scale)

    .sound-1
        height 12px * $scale

    .sound-2
        height 17px * $scale

    .sound-3
        height 22px * $scale

    .pulse
        content ''
        position absolute
        top -3px
        left -3px
        border-radius 100%
        width 60px
        height 60px
        border 4px solid rgba(204, 204, 204, 0.5)
        animation pulsate 4s ease-in infinite

    &--playing
        .pulse
        .box
        .triangle
        .sound-3
            display none

        .sound-1
        .sound-2
            transform translateX(0)
            width 3px * $scale
            height 16px * $scale
            margin 2px * $scale

.slide__map
    position relative

    .map
        width 100%
        max-width 896px
        height 595px
        margin 0 auto
        border none

    .body
        display block
        cursor pointer
        width 223px
        padding-top 48px
        margin 0 auto
        text-decoration none
        color inherit

.gallery__bottom-bar
    position fixed
    bottom 0
    left 0
    height 40px
    z-index 10
    display flex
    align-items center
    justify-content center
    width 100vw
    background #000

.gallery-button__previous
.gallery-button__next
    width 60px
    height 30px
    margin 20px
    display flex
    align-items center
    justify-content center

    &:before
        content ''
        width 10px
        height 10px
        border white solid
        border-right-width 1.5px
        border-bottom-width 1.5px
        border-top-width 0px
        border-left-width 0px
        transform rotate(-45deg)

.gallery-button__previous:before
    transform rotate(-225deg)

@keyframes pulsate
    0%
        opacity 0
    80%
        transform scale(1)
        opacity 1
    100%
        transform scale(1.9)
        opacity 0

