$play-button-size = 80px
$play-button-color = #6c6c6b
$play-button-background = #f8f9f2

.page--video
    .video
        position absolute
        height 100%

        // Fix added padding after content
        line-height 0

        .lazy-video
            width 100%
            height 100%

        video
            object-fit cover
            width 100%
            background #000
            font-family 'object-fit: cover;'

    .playing video
        object-fit contain
        font-family 'object-fit: contain;'

    .playing + .video__play-button
            display none

    .video__play-button
        display block
        position absolute

        // Center
        top 50%
        left 50%
        transform translate(-50%, -50%)

        width $play-button-size
        height $play-button-size

        border-radius 50%
        background $play-button-background

        // Make sure we have the right cursor
        cursor pointer

        // Sit above non-indexed elements
        z-index 1

        // The play icon
        &:after
            content ''
            display block
            position absolute

            // Center (almost because border is weird)
            top 50%
            left 50%
            transform translate(-15%, -50%)

            // Required to make a triangle using border
            width 0
            height 0

            // Make a triangle
            border-style solid
            border-width 12px 18px
            border-color transparent transparent transparent $play-button-color
