mixin point-audio
    svg(xmlns='http://www.w3.org/2000/svg' width='20' height='18' viewbox='0 0 20 18')
      path(fill='#2EA1E8' fill-rule='nonzero' d='M18 17V1c0-1.333 2-1.333 2 0v16c0 1.333-2 1.333-2 0zm-4-2V3c0-1.333 2-1.333 2 0v12c0 1.333-2 1.333-2 0zm-4-2V5c0-1.333 2-1.333 2 0v8c0 1.333-2 1.333-2 0zM3.429 5.538l3.818-3.341c.416-.364.753-.209.753.348V14.53c0 .556-.344.706-.753.349L3.43 11.538H.49a.496.496 0 0 1-.49-.491V6.029c0-.271.215-.491.49-.491H3.43z')
