mixin point-blurb
    svg(xmlns='http://www.w3.org/2000/svg' width='24' height='14' viewbox='0 0 24 14')
        path(fill='#2EA1E8' fill-rule='evenodd' d='M0 7c0-3.866 3.138-7 7.006-7h9.988C20.864 0 24 3.142 24 7c0 3.866-3.138 7-7.006 7H7.006C3.136 14 0 10.858 0 7zm6.568 1.596c.838 0 1.516-.66 1.516-1.473 0-.814-.678-1.474-1.516-1.474-.837 0-1.515.66-1.515 1.474s.678 1.473 1.515 1.473zm5.558 0c.837 0 1.516-.66 1.516-1.473 0-.814-.679-1.474-1.516-1.474s-1.515.66-1.515 1.474.678 1.473 1.515 1.473zm5.558 0c.837 0 1.516-.66 1.516-1.473 0-.814-.679-1.474-1.516-1.474s-1.516.66-1.516 1.474.68 1.473 1.516 1.473z')
