mixin point-map
    svg(xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewbox='0 0 20 20')
        path(fill='#2EA1E8' fill-rule='evenodd' d='M9.897 18.76c-.248.495-.449.442-.449-.098v-8.495a.51.51 0 0 0-.51-.51H.445c-.55 0-.596-.2-.098-.448L18.55.107c.496-.248.698-.05.45.449L9.896 18.759z')
