mixin point-image
    svg(xmlns='http://www.w3.org/2000/svg' width='20' height='22' viewbox='0 0 20 22')
        path(fill='#2EA1E8' fill-rule='evenodd' d='M16.175 16.25h.826c.275 0 .499-.226.499-.506V3.006A.496.496 0 0 0 17 2.5H3c-.276 0-.5.226-.5.506v11.732L6.134 9.46c.31-.45.817-.446 1.124 0l2.766 4.011 1.546-2.243c.316-.458.824-.463 1.143 0l3.462 5.022zM0 .996C0 .446.455 0 .992 0h18.016c.548 0 .992.444.992.996v19.258c0 .55-.455.996-.992.996H.992A.993.993 0 0 1 0 20.254V.996zM14.063 7.5a1.562 1.562 0 1 1 0-3.125 1.562 1.562 0 0 1 0 3.125z')
