mixin point-website
    svg(xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewbox='0 0 22 22')
        path(fill='#2EA1E8' fill-rule='evenodd' d='M11 22C4.925 22 0 17.075 0 11S4.925 0 11 0s11 4.925 11 11-4.925 11-11 11zm5.312-17.571l-7.724 3.3c-.248.106-.544.4-.652.652l-3.3 7.725c-.436 1.018.037 1.486 1.052 1.053l7.724-3.301c.248-.106.544-.4.652-.652l3.3-7.725c.436-1.017-.037-1.486-1.052-1.052zM11 12.169a1.375 1.375 0 1 1 0-2.75 1.375 1.375 0 0 1 0 2.75z')
