-
    let author = self.meta.author || '';

    // remote trailing slash
    author = author.replace(/\/$/, '');

    // remove from start to last slash
    author = author.replace(/^.+\/+/, '');

script.
    (function () {
        window.sm = window.sm || {};
        window.sm.author = '#{author}';
        window.sm.contentId = '#{self.meta.contentId}';
        window.sm.storyName = '#{self.stub.properties.title}';
        window.sm.environment = '#{process.env.NODE_ENV}';
    })();
