-
    // keys
    const GA_KEYS = {
        dev: 'UA-20319875-9',
        prod: 'UA-20319875-3'
    };

    const GA_KEY = process.env.NODE_ENV === 'production'
        ? GA_KEYS.prod
        : GA_KEYS.dev;

script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', '#{GA_KEY}', 'auto');
    ga('send', 'pageview');
