mixin page(data)
    -
        const classes = [
            `page--${data.name}`,
            `layout-${data.page.properties.layout}`,
            `theme-${data.page.properties.theme}`,
        ]

    .page(class=classes)&attributes(attributes)
        if block
            block
