$control-handle-background = #FFF
$control-handle-border-background = rgba(255, 255, 255, 0.2)
$arrow-bar-background = lighten(black, 40%)

$scale = 1
$control-handle-width = 44px * $scale
$control-handle-height = $control-handle-width
$control-handle-border-width = 2px * $scale

$control-arrow-width = 28px * $scale
$arrow-bar-length = 12px * $scale
$arrow-bar-thickness = 3px * $scale
$arrow-bar-border-radius = 6px * $scale

$arrow-width = round(round(cos(45) * $arrow-bar-length) * 2 - ($arrow-bar-thickness / 2))
$arrow-height = round(round(sin(45deg) * $arrow-bar-length) * 2)

.control-handle
    position absolute
    width $control-handle-width + $control-handle-border-width
    height $control-handle-height + $control-handle-border-width
    top 50%
    left 50%
    transform translate(-50%, -50%)
    border-radius 50%
    background $control-handle-border-background
    cursor -webkit-grab
    cursor grab

    &:active {
        cursor -webkit-grabbing
        cursor grabbing
    }

    &:before
        content ''
        display block
        position absolute
        width $control-handle-width
        height $control-handle-height
        top 50%
        left 50%
        transform translate(-50%, -50%)
        background-color $control-handle-background
        border-radius 50%

.control-handle__arrow
    position absolute
    display flex
    justify-content space-between
    top 50%
    left 50%
    transform translate(-50%, -50%)
    z-index 2
    width $control-arrow-width

    &--center
        position absolute
        top 50%
        left 50%
        width $control-arrow-width - $arrow-bar-thickness
        height $arrow-bar-thickness
        background $arrow-bar-background
        border-radius $arrow-bar-border-radius
        transform translate(-50%, -50%)

    &--left
        position relative
        width $arrow-width
        height $arrow-height

        &:before,
        &:after
            content ''
            display block
            position absolute
            width $arrow-bar-thickness
            height $arrow-bar-length
            background $arrow-bar-background
            border-radius $arrow-bar-border-radius

        &:before
            top 50%
            left 0
            transform-origin bottom left
            transform translateY(-100%) rotate(45deg)

        &:after
            top 50%
            left 0
            transform-origin top left
            transform rotate(-45deg)

    &--right
        position relative
        width $arrow-width
        height $arrow-height
        transform rotate(180deg)

        &:before,
        &:after
            content ''
            display block
            position absolute
            width $arrow-bar-thickness
            height $arrow-bar-length
            background $arrow-bar-background
            border-radius $arrow-bar-border-radius

        &:before
            top 50%
            left 0
            transform-origin bottom left
            transform translateY(-100%) rotate(45deg)

        &:after
            top 50%
            left 0
            transform-origin top left
            transform rotate(-45deg)
